        <div class="nous-joindre">
            <h2>NOUS JOINDRE</h2>
            <p>Téléphone:  
                <a href="tel:+33745231549">07 45 23 15 49</a>
            </p>
            <p>Ou via le <span class="formulaire-contacte-button">formulaire</span></p>
        </div>
        <div class="nos-horaires">
            <h2>nos horaires</h2>
            <ul>
            
            {% include "horaire_ouverture/_horaire.html.twig" %}
        </div>
        <div class="nos-medias">
            <h2>nos médias</h2>
            <div class="footer-icon">
                <a  href="https://fr-fr.facebook.com/" target="_blank">
                    <img src="{{ asset('asset/Dossier-Image/Footer-image/facebook.svg') }}">
                </a>
                <a  href="https://twitter.com/" target="_blank">
                    <img src="{{ asset('asset/Dossier-Image/Footer-image/twitter.svg') }}">
                </a>
                <a href="https://www.instagram.com/" target="_blank">
                    <img src="{{ asset('asset/Dossier-Image/Footer-image/instagram.svg') }}">
                </a>
            </div>
        </div>