{% extends 'base.html.twig' %}

{% block title %}Gestion commentaire{% endblock %}

{% block body %}
<h1>Ajouter un commentaire</h1>
<div>
    {% include "horaire_ouverture/_formulaire.html.twig" %}
</div>


{% endblock %}
