{% extends 'base.html.twig' %}

{% block title %}Gestion formulaire{% endblock %}

{% block body %}
<h1>Ajouter un formulaire</h1>
<div>
    {% include "formulaireContacte/_form.html.twig" %}
</div>


{% endblock %}
