{% extends 'base.html.twig' %}

{% block title %}New FormulaireContacte{% endblock %}

{% block body %}
    <h1>Create new FormulaireContacte</h1>

    {{ include('formulaireContacte/_form.html.twig') }} 
    

    <a href="{{ path('app_formulaireContacte_index') }}">back to list</a>


{% endblock %}
