{% extends 'base.html.twig' %}

{% block title %}Gestion voiture{% endblock %}

{% block body %}
<h1>Ajouter une voiture</h1>
<div>
    {% include "voiture/_form.html.twig" %}
</div>


{% endblock %}
