{% extends 'base.html.twig' %}

{% block title %}Détail de {{ service.titre }}{% endblock %}

{% block body %}
<h1>Détail de {{ service.titre }}</h1>
<p>contenue: {{ service.contenue }}</p>


{% endblock %}
